PORT=3000

DB_SERVER=localhost
DB_INSTANCE=SQLEXPRESS
DB_NAME=your_database_name

JWT_SECRET=your_jwt_secret_here

CHANNEX_BASE_URL=https://staging.channex.io/api/v1
CHANNEX_API_KEY=your_channex_api_key_here
CHANNEX_WEBHOOK_API_KEY=your_webhook_key_here